/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.appointment-card-container {
  background-color: #ffffff;
  padding: 50px;
  width: 90%;
}
.container {
  border-style: solid;
  padding: 20px;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #b5b7c4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title-heading-container {
  display: flex;
  flex-direction: column;
}
.appointment-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 60px;
}
.title-heading {
  color: #b5b7c4;
  font-size: 14px;
  font-family: 'Roboto';
  margin-bottom: 8px;
}
.input-element {
  padding: 12px;
  color: black;
  font-size: 16px;
  margin-bottom: 30px;
}
.button {
  background-color: #8b5cf6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  height: 38px;
  width: 70px;
  border-width: 0px;
  border-radius: 12px;
  font-weight: 500;
  margin-bottom: 30px;
}
.appointment-item-main-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 34px;
  padding-top: 0px;
  margin-top: 0px;
}
.starred-button {
  color: #9897f0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  border-width: 2px;
  height: 35px;
  width: 90px;
  border-style: solid;
  border-radius: 16px;
  border-color: #9897f0;
}
.starred {
  background-color: #171f46;
  color: #ffffff;
}

.starred-button-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.list-appointments-container {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.input-elements {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .appointment-heading {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .image {
    position: absolute;
    left: -1000px;
  }
  .app-container {
    display: flex;
  }
  .title-heading {
    font-size: 12px;
  }
  .container {
    width: 100%;
    padding: 0px;
  }
  .appointment-item-main-heading {
    font-size: 19px;
    font-weight: 450;
    align-items: flex-start;
  }
  .starred-button {
    font-size: 12px;
    height: 28px;
    width: 70px;
  }
  .list-appointments-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
